* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  height: 540px;
  --squares-per-side: 10; /* Default value for initial squares creation */
}

.square {
  border: 1px solid black;
  flex: 0 0 calc(100% / var(--squares-per-side));
  height: calc(100% / var(--squares-per-side));
}
