* {
  margin: 0;
  padding: 0;
  font: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 540px;
  height: 540px;
}

.square {
  border: 1px solid black;
  width: 50%;
  height: 50%;
  box-sizing: border-box; /* Ensures the border is included in the element's total width and height */
}
